<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta
			content="width=device-width, initial-scale=1"
			name="viewport"
		/>
		<title>VueFlex</title>
		<style>
			[v-cloak] {
				display: none;
			}
		</style>
		<link
			href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
			rel="stylesheet"
		/>
		<link
			href="https://unpkg.com/vuetify@1.5.14/dist/vuetify.min.css"
			rel="stylesheet"
		/>
		<script src="https://unpkg.com/@babel/polyfill@7.4.4/dist/polyfill.min.js"></script>
		<script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>
		<script src="index.js"></script>
		<script src="https://unpkg.com/vuetify@1.5.14/dist/vuetify.min.js"></script>
	</head>
	<body>
		<v-app
			v-cloak
			id="app"
		>
			<v-toolbar
				app
				color="primary"
				dark
				dense
			>
				<v-toolbar-title>VueFlex</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-btn
					href="https://github.com/SeregPie/VueFlex"
					icon
					target="_blank"
				>
					<svg
						style="
							fill: currentColor;
							height: 24px;
							width: 24px;
						"
						viewBox="0 0 16 16"
					><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
				</v-btn>
			</v-toolbar>
			<v-content>
				<v-container
					fill-height
					grid-list-xl
				>
					<v-layout
						align-center
						justify-center
					>
						<v-flex
							style="
								max-width: 300px;
								width: 100%;
							"
						>
							<v-layout column>
								<v-flex>
									<div
										style="
											align-items: center;
											display: flex;
											justify-content: space-between;
										"
									>
										<v-input
											hide-details
											label="gap"
										></v-input>
										<v-chip
											small
										>{{ gap }}</v-chip>
									</div>
									<v-slider
										v-model="gapIndex"
										:max="gapValues.length - 1"
										:min="0"
										class="mx-2 my-0"
										hide-details
										ticks
									></v-slider>
								</v-flex>
								<v-flex>
									<vue-flex-box
										:gap="gap"
										class="pink lighten-3"
										style="
											height: 400px;
											width: 100%;
										"
									>
										<vue-flex-box
											class="pink lighten-4"
											direction-column
											gap="inherit"
											style="flex: 1 1 0%;"
										>
											<vue-flex-item
												class="pink lighten-5"
												style="flex: 1 1 0%;"
											></vue-flex-item>
											<vue-flex-item
												class="pink lighten-5"
												style="height: 100px;"
											></vue-flex-item>
										</vue-flex-box>
										<vue-flex-box
											align-content="center"
											align-items="center"
											class="pink lighten-4"
											gap="inherit"
											justify-content="center"
											style="flex: 3 1 0%;"
											wrap
										>
											<vue-flex-item
												v-for="i of 3"
												:key="i"
												class="pink lighten-5"
												style="
													height: 75px;
													width: 75px;
												"
											></vue-flex-item>
										</vue-flex-box>
									</vue-flex-box>
								</v-flex>
							</v-layout>
						</v-flex>
					</v-layout>
				</v-container>
			</v-content>
		</v-app>
		<script src="demo/script.js"></script>
	</body>
</html>
